aiohttp==2.2.0
asyncio==3.4.3; python_version < '3.5'
opuslib==1.1.0
pyaudio==0.2.11
yarl==0.10.3
speex==0.9.1
click==6.7
numpy==1.13.1
scikits.samplerate==0.3.3
requests>=1.2.0
beautifulsoup4==4.6.0
